<!-- 
* File Name: views/error.ejs
* Name: Inderjit Singh Bedi 
* Student Id: 301313264
* Date: 11/02/2023
 -->
<%- include ('partials/header.ejs') %> 

 
<%- include ('partials/navigation-bar.ejs') %>

<div class='container'>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>

<%- include ('partials/footer.ejs') %>